body{
    
    
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
}
/* div>ul>li {
    display: flex;
    justify-content: space-between;
} */
.list li{
    display: inline-block;
    padding: 10px 30px;
    margin: 0 10px;
    font-size: 20px;
    font-family: 'Orbitron';
}
.list li:hover{
    font-weight: 500;
    font-size: 22px;
    text-decoration: underline;
    text-decoration-thickness: 3px ;
}
.button-group{
    display: flex;
    justify-content: space-around;
   align-items: center;
    padding: 5px 20px;
    margin: 0px 0px;
    
}
.search-icon svg{
    padding: 5px 5px;
    font-size: 15px;
    margin-top: 10px;
}
button .nav-button{
    font-family:'Oritron';
}
.nav-button{
    
    padding:5px 5px;
    width: 120px;
    border-radius:10px ;
    background: transparent;

}
.hero-container{
    margin: 0 auto;
    width: 90%;
    height: 600px;
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hero-container-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.hero-container-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.square img{
    position: absolute;
   top: 50%;
    left:20%;
    z-index: -1;
}
.hero-container-left .person-img img{
    width: 90%;
    z-index: 2;
    height: 600px;
    
}
.hero-container-right h1{
    font-family: 'Orbitron';
    font-size: 2.8rem;
    padding: 5px 0px;
    margin: 10px 0px ;
    
    
   
    
    
}
.hero-description{
    width: 80%;
    margin-bottom: 1em;

}
.btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:2em;
}
.button-email{
    margin-top: 2em;
    width: 40%;
    padding: 10px 10px;
    font-family: 'Orbitron';
    text-align: center;
    border-radius: 15px;
    border-color: black;
    background: transparent;
    font-family: 'Orbitron';

}
.button-join{
    margin-top: 2em;
    width: 30%;
    padding: 10px 10px;
    
    text-align: center;
    border-radius: 15px;
    border-color: black;
    font-family: 'Orbitron';
    background-color: black;
    color: #ffffff;
    font-family: 'Orbitron';
}
.contact{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    /* justify-content: center; */
}
.contact h4{
    text-align: center;
}
.contact .icons{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

/* .hero-container{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    

}
.square img{
    width: 70%;
    position: relative;
    
    

}
.person-img{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.person-img img{
    width: 90%;
    position:relative;
    margin-top: -270px;
    

    
    
    
}

.hero-container-left{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.hero-container-right{
    text-align: center;
    width: 100%;
    
}
.hero-container-right h1{
    font-family: 'Orbitron';
    font-size: 3rem;
    padding: 20px 0px;
    
    margin: 130px 0px;
    
    
}
.hero-description{
    font-size: 15px ;
    font-family: 'Poppins';
    margin-top: -80px;

}
.button-email{
    margin-top: 50px;
    width: 200px;
    padding: 10px 10px;
    font-family: 'Orbitron';
    text-align: center;
    border-radius: 15px;
    border-color: black;
    background: transparent;
    font-family: 'Orbitron';

}
.button-join{
    width: 120px;
    padding: 10px 10px;
    margin-top: 50px;
    text-align: center;
    border-radius: 15px;
    border-color: black;
    font-family: 'Orbitron';
    background-color: black;
    color: #ffffff;
    font-family: 'Orbitron';
}
.contact{
    text-align: center;
    
    margin-top: 70px;
    right: ;

}
.contact h4{
    text-align: center;
    font-family: 'Poppins';
    font-size: 20px;
    
}
.icons span{
    padding: 5px 5px;
}
.star img{
    display: none;
    position: absolute;
    top: 170px;
    right: 70px;
    height: 50px;
    width: 50px;
}
.star-one img{
    display: none;
    position: absolute;
    bottom: 80px;
    left: 700px;
    height: 35px;
    width: 35px;
}
.globe img{
    display: none;
    position: absolute;
    top: 130px;
    right: 550px;
    height: 50px;
    width: 50px;
} */
.star img{
    position: absolute;
    top:10%;
    right: 15%;

}
.star-one img{
    position: absolute;
    bottom: 10%;

    right: 45%;
}
.globe img{
    position: absolute;
    top: 12%;
    right: 40%;
}
@media  screen and (max-width:1000px) {
    .navbar-container{
        flex-direction: column;
        align-items: center;
    }
    .list li{
        display: flex;
        flex-direction: column;
    }
    .hero-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .square img{
        display: none;
    }
    .person-img img{
        
    }
    .star img{
        display: none;
    }
    .star-one img{
        display: none;
    }
    .globe img{
        display: none;
    }
    .btn{
        
        flex-direction: column;
    }
    .btn button{
        width: 90%;
    }
    .hero-container-left{

        width: 90%;
    }
    .hero-container-right{
        width: 80%;
    }

    
}


